// Colours
$bg: #fff;
$card-header: #ee4d4d;
$dark: #565e66;
$white: #fff;
$red: #f98262;

/* -------------------------------------
* timeline
* ------------------------------------- */

.timeline {
	list-style: none;
	margin: 50px 0 30px 120px;
	padding-left: 30px;
	border-left: 8px solid $dark;

	li {
		margin: 40px 0;
		position: relative;

		p {
			margin: 0 0 15px;
		}

		.date {
			margin-top: -10px;
			top: 50%;
			left: -158px;
			font-size: 0.95em;
			line-height: 20px;
			position: absolute;
		}
		
		.circle {
			margin-top: -10px;
			top: 50%;
			left: -44px;
			width: 10px;
			height: 10px;
			background: $bg;
			border: 5px solid $dark;
			border-radius: 50%;
			display: block;
			position: absolute;
		}

		label {
			font-size: 1.3em;
			position: absolute;
			z-index: 100;
			cursor: pointer;
			top: 20px;
			transition: transform 0.2s linear;
		}

		.radio {
			display: none;
		
			&:checked {
		
				& + .metadata {
					
					label {
						cursor: pointer;
						top: 2px;
						width: 100%;
						
						div {
							background-color: $card-header;
							color: $white;
							width: calc(100% - 64px);
							border-top-left-radius: 0.2em;
							display: flex;
							align-items: center;
							border-top-right-radius: 0.2em;
							min-height: 42px;
							margin-left: 22px;
							padding-left: 20px;
							padding-right: 20px;
						}
					}
			
					.circle {
						background: $red;
					}
				}
			
				& ~ .content {
					max-height: 100%;
					border-color: $dark;
					margin-right: 20px;
					transform: translateX(20px);
					transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
			
					p {
						max-height: 100%;
						color: $dark;
						transition: color 0.3s linear 0.3s;
					}
				}
			}
		}
	}

	.content {
		max-height: 20px;
		padding: 50px 20px 0;
		border-color: transparent;
		border-width: 2px;
		border-style: solid;
		border-radius: 0.5em;
		position: relative;
	
		&:before, &:after {
			content: "";
			width: 0;
			height: 0;
			border: solid transparent;
			position: absolute;
			pointer-events: none;
			right: 100%;
		}
	
		&:before {
			border-right-color: inherit;
			border-width: 20px;
			top: 50%;
			margin-top: -20px;
		}
	
		&:after {
			border-right-color: $bg;
			border-width: 17px;
			top: 50%;
			margin-top: -17px;
		}
	
		p {
			max-height: 0;
			color: transparent;
			text-align: justify;
			word-break: break-word;
			hyphens: auto;
			overflow: hidden;
		}
	}
}

/* -------------------------------------
* mobile phones 
* ------------------------------------- */
@media screen and (max-width: 767px) {
	.timeline {
		margin-left: 15px;
		padding-left: 10px;

		.radio:checked {
	
			& + .metadata {
		
				label {
					
					div
					{
						min-height: 85px;
					}
				}
			}
		}

		.radio:not(:checked) {
	
			& + .metadata {
		
				label {
					top: 43px;
				}
			}

			& ~ .content:after {
				display: none;
			}
		}

		.metadata {

			.date {
				left: -73px;
				transform: rotate(-90deg);
			}
			.circle {
				left: -24px;
			}
		}

		.content {
			padding-top: 90px;
		}
	}
}
